:root {
  /*Colores para la pagina principal*/
  --old-burgundy: #402e2a;
  --gold-crayola: #f9c784;
  --light-coral: #ff686b;
}

body {
  margin: 0px;
  padding: 0px;

  background: var(--old-burgundy);
}

#fotoPerfil {
  width: 200px;
  border-radius: 100%;
  border: 1em solid white;
}

#tarjeta {
  /*Centrado del div*/
  margin: auto;
  width: 60%;
  padding: 10px;

  /*Centrado del texto*/
  text-align: center;

  /*Colores*/
  background: var(--light-coral);
  /*color: var(--gold-crayola);*/
}

#contactos {
  padding: 0px;
}

#contactos a {
  text-decoration: none;
  color: black;
}

#contactos a:hover {
  background-color: var(--old-burgundy);
  color: var(--light-coral);
}

#contactos li {
  list-style: none;
  display: inline;
}

#frase {
  margin: auto;
  width: 30vw;
}
