:root {
  /*Colores para la pagina principal*/
  --old-burgundy: #402e2a;
  --gold-crayola: #f9c784;
  --light-coral: #ff686b;
}

body {
  background: var(--gold-crayola);
}

#fotoPerfil {
  width: 200px;
  border-radius: 100%;
  border: 1em solid white;
}

#tarjeta {
  /*Centrado del div*/
  margin: auto;
  width: 60%;
  border: 5px solid var(--light-coral);
  padding: 10px;

  /*Centrado del texto*/
  text-align: center;
}

#contactos a {
  text-decoration: none;
  color: black;
}

#contactos li {
  list-style: none;
  display: inline;
}

#frase {
    width: 30vw;
}