:root {
  /*Colores para la pagina principal*/
  --old-burgundy: #402e2a;
  --gold-crayola: #f9c784;
  --light-coral: #ff686b;
}

body {
  margin: 0px;
  padding: 0px;

  background: var(--gold-crayola);
}

#navbar {
  background: var(--old-burgundy);

  text-align: right;

  margin: 0px;
  padding: 0px;

  /*Por alguna razon necesito estas lineas para
  que se alinee verticalmente los enlaces*/
  height: 45px;
  line-height: 45px;
}

#enlaces {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#enlaces a {
  text-decoration: none;
  color: var(--gold-crayola);
}

#fotoPerfil {
  width: 200px;
  border-radius: 100%;
  border: 1em solid white;
}

#tarjeta {
  /*Centrado del div*/
  margin: auto;
  width: 60%;
  border: 5px solid var(--light-coral);
  padding: 10px;

  /*Centrado del texto*/
  text-align: center;
}

#contactos {
  padding: 0px;
}

#contactos a {
  text-decoration: none;
  color: black;
}

#contactos li,
#enlaces li {
  list-style: none;
  display: inline;
}

#frase {
  margin: auto;
  width: 30vw;
}
