main {
  background-color: #fff;
  margin: auto;
  width: 60vw;
  padding: 60px;
}
.main-container article {
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-container h2 {
  margin-bottom: 1.4rem;
}
.main-container p {
  margin-bottom: 1.5rem;
}

@media (max-width: 640px) {
  .main-container {
    width: unset;
  }
}
