:root {
  /*Colores para la pagina principal*/
  --old-burgundy: #402e2a;
  --gold-crayola: #f9c784;
  --light-coral: #ff686b;
  --body-color: #fdd8d6;
  --header-color: #6f5049;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;

  background: var(--body-color);
}

#navbar {
  background: var(--header-color);

  text-align: right;

  margin: 0px;
  padding: 0px;

  /*Por alguna razon necesito estas lineas para
  que se alinee verticalmente los enlaces*/
  height: 45px;
  line-height: 45px;
}

#enlaces {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#enlaces li {
  padding-right: 5%;
  padding-left: 5%;
}

#enlaces a {
  text-decoration: none;
  color: var(--gold-crayola);
}

#enlaces a:hover {
  background: var(--light-coral);
  color: var(--old-burgundy);
}

#fotoPerfil {
  width: 200px;
  border-radius: 100%;
  border: 1em solid white;
}

#tarjeta {
  /*Centrado del div*/
  margin: auto;
  width: 60%;
  padding: 20px;

  /*Centrado del texto*/
  text-align: center;
}

#contactos {
  padding: 0px;
}

#contactos a {
  text-decoration: none;
  color: black;
}

#contactos a:hover {
  background-color: var(--old-burgundy);
  color: var(--light-coral);
}

#contactos li,
#enlaces li {
  list-style: none;
  display: inline;
}

#frase {
  margin: auto;
  width: 30vw;
}

footer {
  text-align: center;
  margin: 5vh;
}
