:root {
  /*Colores para la pagina principal*/
  --header-color: #533e85;
  --texto-navbar-links: #4fd3c4;
  --hover-navbar-links: #4fd3c4;
  --hover-navbar-links-text: #553e85;
  --body-color: #c1f8cf;
  --tarjetas-fondo: #488fb1;
  --hover-social-media: #4fd3c4;
  --bkg-color-footer-container: #533e85;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--body-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.main-container {
  padding: 1em 0;
  min-height: 85vh;
}
.header-container {
  background: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.25rem;
}
.logo-container {
  margin-left: 2rem;
}
.navbar {
  display: inline-block;
  text-align: center;
  margin-right: 2rem;
}

.navbar__enlaces li {
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

.navbar__enlaces a {
  text-decoration: none;
  color: var(--texto-navbar-links);
}

.navbar__enlaces a:hover {
  background: var(--hover-navbar-links);
  color: var(--hover-navbar-links-text);
}

#fotoPerfil {
  width: 200px;
  border-radius: 100%;
  border: 1em solid white;
}

#tarjeta {
  /*Centrado del div*/
  margin: auto;
  width: 60%;

  /*Centrado del texto*/
  text-align: center;
}

#tarjeta * {
  margin-bottom: 1.09em;
}

#contactos {
  padding: 0px;
}

#contactos a {
  text-decoration: none;
  color: black;
}

#contactos img {
  width: 1.5em;
  height: 1.6em;
  margin: 0 0.5em;
}

#contactos img:hover {
  background: var(--hover-social-media);
  border-radius: 25%;
}

#contactos li {
  list-style: none;
  display: inline-block;
}

#frase {
  margin: auto;
  width: 30vw;
}

.footer-container {
  background: var(--bkg-color-footer-container);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.footer-container p {
  font-size: 1rem;
}
.footer-container a {
  text-decoration: none;
}
