:root {
  --black-accent: #6E7F8D;
  --grey-dark: #B5BFC6;
  --grey-light: #E4EBF1;
  --white: #EFF2F9;

  --inner-shadow:
    inset -5px -5px 10px #FAFBFF,
    inset 5px 5px 10px rgb(22 27 29 / 23%);
  --outer-shadow-1:
    -5px -5px 10px #FAFBFF,
    5px 5px 10px rgb(22 27 29 / 23%);
  --outer-shadow-2:
    -10px -10px 20px #FAFBFF,
    10px 10px 20px rgb(22 27 29 / 23%);
  --outer-shadow-3:
    -20px -20px 40px #FAFBFF,
    20px 20px 40px rgb(22 27 29 / 23%);

  --dm-sans-regular: 400;
  --dm-sans-medium: 500;
  --dm-sans-bold: 700;

  --inter-medium: 500;
  --inter-bold: 700;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;

  background: var(--body-color);
}